apiVersion: apps/v1
kind: Deployment #kubernetes resource kind we are creating
metadata:
  name: java-app
spec:
  replicas: 2  #Number of replicas that will be created for this deployment
  selector:
    matchLabels:
      app: java-app
  template:
    metadata:
      labels:
        app: java-app
    spec:
      containers:
      - name: java-app
        image: sanketdocker080/jenkinspro:latest # Image that will be used to containers in the cluster
        imagePullPolicy: Always
        ports:
        - containerPort: 8080 # The port that the container is running on in the cluster
